@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


* {
    box-sizing: border-box;
  }

body{
    font-family: 'Poppins';
}

header.navbar-container{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header.navbar-container .nav-list ul {
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 10rem 5rem;
    list-style-type: none;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

nav a:hover{
    background-color: #BAD7E9;
    padding: .5rem 1.5rem;
    color: whitesmoke;
    border-radius: 25px;
}

h1{
    color: #EB455F;
}

h2, h3{
    color: #2B3467;
}

.profile header{
    text-align: center;
}

.profile img{
    width: 100%;
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
}

footer {
    margin: 0;
    padding: 5px;
    color: #2B3467;
    background-color: #BAD7E9;
    text-align: center;
    font-weight: bold;
 }

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.menu-image{
    width: 50%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
}

#content{
    float: left;
    width: 75%;
}

aside{
    float: right;
    width: 25%;
}

main{
    overflow: auto;
}

aside header{
    align-items: center;
}

@media screen and (max-width: 1000px) {
    #content, aside {
      width: 100%;
      padding: 0;
    }

    header .navbar-container{
        justify-content: space-between;
    }
  }
  